{% extends "layout.html" %}
{% block content %}
<div class="About">
    <h1>About Us</h1>
    <p> GameStop is the up and coming Video Game store based within the heart of Cardiff.</p>
    <p> GameStop strives to give you the best deals on all of the latest and greatest games to the market. GameStop has been established for three years in which we have built a large community that we would like you to join. In the community we have regular meetups for different games along with tournaments, private gaming sessions and chilldays for everybody to enjoy.
    <p> We are open 6 days a week from Monday to Saturday</p>
    <table>
    	<tr><td> Monday </td> <td>: 7:00 - 21:00 </td></tr>
    	<tr><td> Tuesday	</td> <td>: 7:00 - 21:00 </td></tr>
    	<tr><td> Wednesday	</td> <td>: 7:00 - 21:00 </td></tr>
    	<tr><td> Thursday	</td> <td>: 7:00 - 21:00 </td></tr>
    	<tr><td> Friday		</td> <td>: 7:00 - 21:00 </td></tr>
    	<tr><td> Saturday	</td> <td>: 9:00 - 16:00 </td></tr>
    	<tr><td> Sunday		</td> <td>: CLOSED </td></tr>
    </table>
    <h1> Contact Us </h1>
    <p> Phone: 01646672383 </p>
    <p> Email: gamestop@gamestop.com </p>
</div>

{% endblock content %}
